{% extends "/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" src="../js/index.js"></script>
{% endblock %}

{% block content %}

<!-- Implementation of Search App -->
<div ng-app="searchApp" ng-controller="myCtrl">

  <!-- Search Section -->
  <section>
   <div class="jumbotron clearfix">

      <!-- Site Info -->
      <div class="col-lg-4">
        <h1>{{site_name}}</h1>
        <h4>{{site_description}}</h4>
      </div><!-- /.col-lg-4 -->

      <!-- Prompt  -->
      <div class="col-lg-2 prompt clearfix">
        <h3 class="pull-left">Enter a Topic!</h3>
        <span class="pull-left blink">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </span>
      </div>

      <!--  Search Bar -->
      <div class="col-lg-6 ">
          <div class="input-group">
            <input type="text" ng-keyup="$event.keyCode == 13 && sendPost()"
              class="form-control " ng-model="search_term"
              ng-minlength="1" placeholder="Search for..."> 
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" 
                ng-click="sendPost()">Go!</button>
            </span>
          </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.jumbotron -->
  </section><!-- /search section -->

  <!-- Query Results Section -->
  <section>

    <!-- Twitter Results -->
    <div class="col-lg-6 results_col">
     <h3><i class="fa fa-3x fa-twitter"></i> Twitter</h3>
     <h5 ng-if="error_message" class="warning"><span class="glyphicon glyphicon-alert"></span> {[error_message]}</h5>
     <div  ng-if="!error_message" class="text-center" ng-show="loadData">
       Loading.. <i class="fa fa-spinner fa-5x fa-spin"></i>
     </div>
      <ul ng-hide="loadData">
        <li ng-if="tweets" ng-repeat="tweet in tweets track by $index">
          {[ tweet ]}
        </li>
      </ul>
    </div><!-- /.col-lg-6 -->

    <!-- Wiki Results -->
    <div class="col-lg-6">
      <h3><i class="fa fa-3x fa-wikipedia-w"></i> Wikipedia</h3>
      <h5 ng-if="error_message_wiki"><span class="glyphicon glyphicon-alert"></span> {[error_message_wiki]}</h5>
      <div ng-if="!error_message_wiki" class="text-center" ng-show="loadData">
        Loading.. <i class="fa fa-spinner fa-5x fa-spin"></i>
      </div>
      <ul ng-hide="loadData">
        <li ng-if="wiki_results" ng-repeat="wiki in wiki_results track by $index">
          {[ wiki.title]} <a href="{[wiki.url]}">{[wiki.url]}</a>
        </li>
      </ul>
    </div>

  </section><!-- /Query Results Section -->

</div><!-- /ng-app -->
{% endblock %}
